{% if filters %}
    {% for key, value in filters.items %}
        {% if value %}
            {% if key == "ingredients" %}
                {% for item in value %}
                    {% if item %}
                        <input type="hidden" name="ingredients" value="{{ item }}">
                    {% endif %}
                {% endfor %}
            {% else %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
